.list {
    display: grid;
    grid-template-areas: "col-l col-c col-r";
    grid-template-columns: 1fr 1fr 1fr;
}

.list .col-l {
    grid-area: col-l;
    padding-right: 15px;
}
.list .col-c {
    grid-area: col-c;
    padding-left: 15px;
    padding-right: 15px;
}
.list .col-r {
    grid-area: col-r;
    padding-left: 15px;
}

.list-u {
    display: grid;
    grid-template-areas: "col-l col-c col-r";
    grid-template-columns: 1fr 1fr 1fr;
}

.list-u .col-l {
    grid-area: col-l;
    padding-right: 15px;
}
.list-u .col-c {
    grid-area: col-c;
    padding-left: 15px;
    padding-right: 15px;
}
.list-u .col-r {
    grid-area: col-r;
    padding-left: 15px;
}


@media only screen and (max-width: 1200px) {
    .list {
        grid-template-areas:
                "col-l"
        "col-c"
        "col-r";

        grid-template-columns: 1fr;
    }

    .list .col-l {
        grid-area: col-l;
        padding-right: 5px;
        padding-left: 5px;
    }
    .list .col-c {
        grid-area: col-c;
        padding-left: 5px;
        padding-right: 5px;
    }
    .list .col-r {
        grid-area: col-r;
        padding-right: 5px;
        padding-left: 5px;
    }

}
