.p-data{
    border: 1px solid #4D4D4D;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.p-data-body{
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-template-areas: "data tag cat"
    "footer footer footer";
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: auto 55px;
}

.p-data-body h4 {
    margin: 5px 0 5px 5px;
}

.p-data-body .data {
    grid-area: data;
    padding-left: 5px;
}

.p-data-body .tag {
    grid-area: tag;
}

.p-data-body .cat {
    grid-area: cat;
}

.p-data-body .footer {
    grid-area: footer;
    margin-top: 10px;
}

.p-content {
    margin: 40px 0px 0px;
}

.p-img {
    width: 100%;
    border: 1px solid #FF8585;
    box-sizing: border-box;
    border-radius: 10px;
}


.p-vid {
    width: 100%;
    border: 1px solid #FF8585;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px;
}

.p-txt {
    border: 1px solid #FF8585;
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
    /*height: 100%;*/
    padding: 30px;
}


@media only screen and (max-width: 1200px) {

    .p-content{
        margin: 20px 0px 0px;
    }

    .p-data-body{
        display: grid;
        width: 100%;
        box-sizing: border-box;
        grid-template-areas: "data"
        "tag"
        "cat"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
}
