
.comment{
    display: grid;
    grid-template-areas: 'user mess';
    grid-template-columns: 80px auto;
    grid-template-rows: 100%;

    width: 100%;
    background: #EBEBEB;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.c-icon {
    gird-area: user;
}

.c-mess{
    grid-area: mess;
}

