
.comment{
    display: grid;
    grid-template-areas: 'user mess';
    grid-template-columns: 80px auto;
    grid-template-rows: 100%;

    width: 100%;
    background: #EBEBEB;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.c-icon {
    gird-area: user;
}

.c-mess{
    grid-area: mess;
}

textarea{
    width: 100%;
    resize: vertical;
    outline: none;
    background: #EBEBEB;
    font-family: "Poppins", sans-serif;
    color: #4D4D4D;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}