
.project-card{
    width: auto;
    height: 350px;
    background: #EBEBEB;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.project-card-img {
    background: aliceblue no-repeat center center ;
    width: 100%;
    height: 250px;
    border: 1px solid #FF8585;
    box-sizing: border-box;
    border-radius: 10px;
}