.icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
    border: 3px solid #FF8585;

    display: flex;
    justify-content: center;
    align-content: center;
}

.icon p{
    align-self: center;
    color: #FF8585;
    font-size: 25px;
}

.icon img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid #FF8585;
    align-self: center;
    font-size: 25px;
}


.user-img {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #FF8585;
}

.user-img img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

