.pink-b h1 {
    margin-top: 11px;
    margin-left: 20px;
}
.p-img {
    width: 100%;
    border: 1px solid #FF8585;
    box-sizing: border-box;
    border-radius: 10px;
}
.edit-wrapper{
    /*min-width: 50%;*/


    align-self: center;
    padding: 10px 20px 25px;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-template-areas: "img data";
    grid-template-columns: 30% 70%;
}
.image-edit{
    grid-area: img;
}
.others-edit{
    grid-area: data;
}
.second-wrapper{
    margin-left: 5%;
    overflow:auto;
    width: 100%;
    height: 100%;
    display: flex;
}
.register-wrapper h1{
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 3em;
    color: #FF8585;
}
.register-content{
    margin-top: 3%;
    overflow:auto;
}
.content-left{
    width: 48%;
}
.content-der{
    width: 48%;
}
@media only screen and (max-width: 1200px) {

    .edit-wrapper{
        display: grid;
        width: 100%;
        box-sizing: border-box;
        grid-template-areas: "img"
        "data";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

}
