.pink-b h1 {
    margin-top: 11px;
    margin-left: 20px;
}
.image-edit{
    width: 30%;
}
.others-edit{

    width: 70%;
}
.p-img {
    width: 100%;
    border: 1px solid #FF8585;
    box-sizing: border-box;
    border-radius: 10px;
}
.edit-wrapper{
    min-width: 50%;
    min-height: 400px;
    margin-top: 3%;
    align-self: center;
    padding: 20px 20px 25px;
    display: flex;
    background: #EBEBEB;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.second-wrapper{
    margin-left: 5%;
    overflow:auto;
    width: 100%;
    height: 100%;
    display: flex;
}
.register-wrapper h1{
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 3em;
    color: #FF8585;
}
.register-content{
    margin-top: 3%;
    display: flex;
    width: 100%;
    overflow:auto;
}
.content-left{
    width: 48%;
}
.content-der{
    width: 48%;
}
